<link rel="stylesheet" href="style/locales_style.css">
<link rel="stylesheet" href="style/detail_style.css">

<section id="sections" class="sections">
  <!-- information or sections inside the section with grey background -->
  <section id="content" class="content" >
      <!-- Content of mains section -->
      <section id="main">
  <!-- Banner for title, action buttons -->
  <div class="banner">
    <div class="container">
      <a ui-sref="app.{{$ctrl.local.categorias.categoria}}"><p> <- Back</p></a>
      <h3 ng-bind="::$ctrl.local.nombre"></h3>
      <br>
      <h6>{{$ctrl.local.direccion}}, {{$ctrl.local.poblacion}}, {{$ctrl.local.provincia}} <a href="" ng-click="gotoAnchor('gmaps')")>(gmaps)</a></h6>
      <h6> <i class="fa fa-phone" aria-hidden="true"></i> {{$ctrl.local.telf}}</h6>
      <div class="detail_div">
        <div class="slider_details">
            <img src="https://www.wien.info/media/images/41993-das-loft-sofitel-19to1.jpeg" alt="restaurant elite">
        </div>
      </div>
      <h3 class="menus">Menus para elegir</h3>
      <div class="gridlist">
        <div class="listado">
            <ul>
                <li class="list"  ng-repeat="producto in $ctrl.productos" >
                  <a>
                    <section id="gridcardlocal">
                        <div id="imagenlocal">
                            <img src="{{producto.foto}}">
                        </div>
                        <div id="desclocal">
                            <label>Nombre:&nbsp;&nbsp;&nbsp;<span class="menucontent">{{producto.nombre}}</span></label><br>
                            <label>Descripcion:&nbsp;&nbsp;&nbsp;<span class="menucontent">{{producto.descripcion}}</span></label>
                            <h3><p>{{producto.price}}</p></h3>
                            <h3><button ng-click="$ctrl.addCart(producto)">Añadir al carrito</button></h3>
                        </div>
                    </section>
                </a>
                </li>
            </ul>
        </div>
        </div>
      <div id="anchorgmaps">
        <ng-map center="[{{$ctrl.local.latitud}}, {{$ctrl.local.longitud}}]" zoom="13">
          <marker position="{{$ctrl.local.latitud}}, {{$ctrl.local.longitud}}"></marker>
          <!-- <marker position="current-location"></marker> -->
          <directions
            draggable="true"
            travel-mode="DRIVING"
            origin="current-location"
            destination="{{$ctrl.local.direccion}}, {{$ctrl.local.poblacion}}, {{$ctrl.local.provincia}}, Spain">
           <!--  destination="Pare Luis Colomer 11, Ontinyent , Comunidad Valeciana, Spain"> -->
          </directions>
        </ng-map>
      </div>
    </div>
  </div>
  </section>
  </section>
  </section>