.gridlist{
    margin:1em;
    margin-top: 0.5rem !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr,0.5fr;
    padding-bottom: 2em;
  }

.gridlist div ul{
  margin: 0;
  height: 450px ;
}

div.search {
  display: inline-block;
  grid-row: 1;
  grid-column: 2;
  margin-left: 1.5em;
  padding-bottom: 1rem;
}

span.searchtext{
  color: white;
  font-size: 1.5rem;
  font-family: menutittle;
}

div.search label{
  display: inline-block;
}

div.maps {
  grid-column: 1;
  grid-row: 2;
}

div.listado{
  grid-column: 2;
  grid-row: 2;
  overflow-y: auto;
}

.maps ng-map{
  height: 100% !important;
  width: 100%  !important;
}


/* CARD VIEW  -------------------------------------------------*/

.list{
    list-style: none;
    background-color: #292929;/*292929*/
   /*  border: 1px solid black; */
    margin-bottom: 0.25rem;
    padding: 0;
  }


.list a{
  width: 100%;
  display: block;
  /* padding: 0.5em; */
  font-weight: bold;
  font-size: 1.5rem;
  font-family: menutittle;
  color: white;
}

.list a:hover *{
  color:black;
  background-color: #FDFFD6;/*FDFFD6*/

}


.menucontent{
  font-family: menucontenttext;
  font-weight: none;
  font-size: 1rem;
  color: white;
}

  
#gridcardlocal{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.5fr;
}

#imagenlocal{
  grid-column: 1;
  width: 1fr;
  height:1fr;
}

#desclocal{
  grid-column: 2;
  padding:1em;
  width: 1fr;
  height:1fr;
}

#imagenlocal img{
  width: 100%;
  height: 100%;
}


/*  GOOGLE MAPS STYLES  ------------------------------------------    */

/* .ng-map-info-window {
  color:hsl(0, 100%, 50%);
  display: hidden;
} */