<nav id="navbar">
  <div>
    <!-- loged out users -->
    <ul show-authed="false">
      <li><a ui-sref-active="active" ui-sref="app.home">HOME</a></li>
      <li><a href="#!/#locals">LOCALS</a></li>
      <li><a href="#!/#about">ABOUT US</a></li>
      <li><a ui-sref-active="active" ui-sref="app.contact">CONTACT</a></li>
      <li><a ui-sref-active="active" ui-sref="app.register">SIGN UP</a></li>
      <li><a ui-sref-active="active" ui-sref="app.login">LOG IN</a></li>
      <li><a href="http://localhost:3000/api/twitter" class="a-fontAwesome fa fa-twitter-square" aria-hidden="true"></a></li>
      <li><a href="http://localhost:3000/api/facebook" class="a-fontAwesome fa fa-facebook-official" aria-hidden="true"></a></li>
     
    </ul>

    <!-- loged in users -->
    <ul show-authed="true">
      <li><a ui-sref-active="active" ui-sref="app.home">HOME</a></li>
      <li><a href="#!/#locals">LOCALS</a></li>
      <li><a href="#!/#about">ABOUT US</a></li>
      <li><a ui-sref-active="active" ui-sref="app.contact">CONTACT</a></li>
      <li><a
        ui-sref-active="active"
        ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">
        <img width="35px" height="35px" ng-src="{{$ctrl.currentUser.image}}"><img>{{ $ctrl.currentUser.username }}     
      </a></li>
      <li><a ng-click="$ctrl.logout()">LOG OUT</a></li>
    </ul>
  </div>
</nav>