<nav id="navbar">
  <div>
    <!-- loged out users -->
    <ul show-authed="false">
      <li><a ui-sref-active="active" ui-sref="app.home">HOME</a></li>
      <li><a href="#!/#locals">LOCALS</a></li>
      <li><a href="#!/#about">ABOUT US</a></li>
      <li><a ui-sref-active="active" ui-sref="app.contact">CONTACT</a></li>
      <li><a ui-sref-active="active" ui-sref="app.login">SIGN IN</a></li>
      <li><a ui-sref-active="active" ui-sref="app.register">SIGN UP</a></li>
      <!-- <li><a ui-sref-active="active" ui-sref="app.loginmodal">MODAL</a></li> -->
 <!--      <li><a href="#!/modal" data-toggle="modal" data-target="#myModal">MODAL</a></li> -->
      <li><a ui-sref-active="active" ng-click="open()">MODAL</a></li>
      <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
     
    </ul>

    <!-- loged in users -->
    <ul show-authed="true">
      <li><a ui-sref-active="active" ui-sref="app.home">HOME</a></li>
      <li><a href="#!/#locals">LOCALS</a></li>
      <li><a href="#!/#about">ABOUT US</a></li>
      <li><a ui-sref-active="active" ui-sref="app.contact">CONTACT</a></li>
      <li><a
        ui-sref-active="active"
        ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">
        <img width="35px" height="35px" ng-src="{{$ctrl.currentUser.image}}"><img>{{ $ctrl.currentUser.username }}     
      </a></li>
      <li><a ng-click="$ctrl.logout()">LOG OUT</a></li>
    </ul>
  </div>
</nav>